@charset "UTF-8";

/* BANNERS */
.banner-std {
    background-repeat: no-repeat;  /* Bakgrundsbilden ska inte repetera (tänk bakgrund i Windows 3.1) */
    background-position: center;  /* Bakgrundbildens viktigaste innehåll är mitten, se till att det syns */
    background-size: 100% auto;
    width: 100%;
    height: 10vh;
}

.banner1 {
    background-image: url("../images/banner1.jpg");
}

.banner2 {
    background-image: url("../images/banner2.jpg");
}

.banner3 {
    background-image: url("../images/banner3.jpg");
}

.banner4 {
    background-image: url("../images/banner4.jpg");
}

.banner5 {
    background-image: url("../images/banner5.jpg");
}
