@charset "UTF-8";

a {
    color: #fd3a69;  /* Rosa */
}

.container {
    /* Bakgrundfärgen enbart i containern */
    background-color: #f0f0f0;

    /* Skugga på sidorna av container */
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);  /* Skugga nedåt 50% genomskinlighet */
}

#header-main-main {
    background-color: #fff;  /* Vit */
    box-shadow: 0px 15px 15px -15px rgba(0,0,0,0.8);  /* Skugga 80 % genomskinlighet */
}

#header-main-sub {
    background-color: #fd3a69;  /* Rosa */
    color: #fff; /* Vit */
}

#header-main-sub a {
    color: #fff; /* Vit */
}

#footer-main {
    background-color: #fd3a69; /* Rosa */
    color: #fff; /* Vit */
}

footer a {
    color: #fff; /* Vit */
}

/* ÖVRIGA ELEMENT */
.kort {  /* Som i engelskans "card" */
    background-color: #ffffff;
    border-radius: 0.2rem;  /* Ytterst lite rundning av hörnen */
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);  /* Skugga 30% genomskinlighet */
}

/* INGÅNGSSIDAN */
.erbj-bitar {
    color: #404040;
}

.erbj-pris {
    color: #9d0191;
}

/* LUNCH-SIDAN */
.lunch-pris {
    color: #9d0191;
}

.lunch-bitar {
    color: #404040;
}

/* INFOSIDOR */
blockquote {
    border-left: 5px solid #9d0191;
}

/* KONTAKT-SIDAN */
input, textarea {
    border: 1px solid #e5e5e5;  /* Tunn ljusgrå solid border */
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);  /* Skugga 30% genomskinlighet */
}

button {
    background-color: #fd3a69;  /* Rosa */
    color: white;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);  /* Skugga 30% genomskinlighet */
}
