@charset "UTF-8";

/* FÖLJANDE FIL GÄLLER KONTAKTFORMULÄRET */

form {
    display: flex;
    justify-content: stretch;
    flex-direction: column;
}

/* Stila inmatningsfält av text-typ, email-typ, textarea */
input[type=text], input[type=email], textarea {
    box-sizing: border-box;
    border-radius: 3px; /* Rundade hörn */
    width: 100%;
}

/* Sätt höjd på textarea samt förhindra storleksändring */
textarea {
    height: 20rem;
    resize: none;
}

/* Knapp */
button {
    float: right; /* Knappen läggs på höger sida */
    border-style: none; /* Tar bort ram runt knapp */
}
