@charset "UTF-8";

body {
    /* Sätt marginaler / padding till 0 så att CSS-gridet går hela vägen
       ut till kanterna på viewporten */
    margin: 0;
    padding: 0;
}

/* Ingen padding på kolumner */
td {
    padding: 0;
}

/* Inga marginaler på rubriker */
h2, h3, h4, h5, h6 {
    margin: 0;
}

/* Inga top-marginaler på stycken */
p {
    margin-top: 0;
}

/* Mellanrum mellan menyvalen */
nav li {
    margin-left: 2rem;
}

.container {
    /* Marginalerna nedan centrerar "container" */
    margin-right: auto;
    margin-left: auto;
}

/* Mellanrum mellan soc. media-ikoner */
#header-main-sub i {
    margin-left: 2rem;
}

/* INGÅNGSSIDAN */
.erbj-pris {
    margin-bottom: 0;  /* Ta bort marginal i botten av erbjudande-kort */
}

/* LUNCHSIDAN */
.lunch-titel, .lunch-bitar, .lunch-pris, .lunch-extra {
    margin: 0;
}

/* INFOSIDOR */
blockquote {
    margin: 1rem;
    padding-left: 1rem;
}

/* KONTAKTSIDA */

/* Stila inmatningsfält av text-typ, email-typ, textarea */
input[type=text], input[type=email], textarea {
    padding: 1rem;  /* Lägg lite luft i fälten */
}

button {
    padding: 1rem;  /* Lägg lite luft mellan text och kanter */
    margin-top: 2rem;  /* Lägg marginal ovanför knappen */
    margin-bottom: 2rem;
}

/* ALLMÄNNA MARGINALER */

/* Ingen marginal */
.m-0 {
    margin: 0;
}

/* Liten marginal */
.m-sm {
    margin: 10px;
}

/* Standard marginal */
.m-std {
    margin: 20px;
}

/* Ingen marginal uppe */
.mt-0 {
    margin-top: 0;
}

/* Ingen marginal nere */
.mb-0 {
    margin-bottom: 0;
}

/* Standard marginal botten */
.mb-std {
    margin-bottom: 20px;
}

/* Liten marginal uppe */
.mt-sm {
    margin-top: 10px;
}

/* Liten marginal vänster */
.ml-sm {
    margin-left: 10px;
}

/* PADDING */

/* Ingen padding */
.p-0 {
    padding: 0;
}

/* Liten padding */
.p-sm {
    padding: 10px;
}

/* Standard padding */
.p-std {
    padding: 20px;
}
