@charset "UTF-8";

/* Externa imports (i vårt fall typsnitt) */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

/* Interna imports */
@import url('./banners.css');  /* De smala bilderna under rosa raden på sidorna */
@import url('./farger-skuggor.css');  /* Färger och skuggor */
@import url('./form.css');  /* Formuläret på kontaktsidan */
@import url('./luft.css');  /* Marginaler och paddings */
@import url('./nav.css');  /* Navigationsmenyn */
@import url('./responsivt.css');  /* Responsivt, mest hack */
@import url('./typografi.css'); /* Typsnitt, storlekar, tjocklekar etc */

.container {
    /* Använd den moderna tekniken CSS grid */
    display: grid;

    /* Header, innehåll, footer */
    grid-template-rows: auto 1fr auto;

    /* Ta upp minst hela sidans på skärmen synliga vertikala utrymme */
    min-height: 100vh;

    /* Texten blir svårläslig med alltför långa rader. Därför max-bredd
       satt */
    max-width: 1000px;
}

/* LAYOUTENS HUVUDDELAR */
#header-main-main {
    /* Elementet innehåller logga och en meny som ska anpassa sig
       responsivt, därav kör vi flex. */
    display: flex;
    justify-content: space-around; /* Lägger ut logo och meny med lagom luft omkring */
    align-items: center; /* Vertikal centrering, påverkar meny */
    flex-wrap: wrap;

    /* Ser till att skuggan syns över underliggande område */
    position: relative;
}

/* Den rosa raden med soc. media-ikoner */
#header-main-sub {
    display: flex;
    justify-content: flex-end;
}

/* Sidfot */
#footer-main {
    display: flex;
    justify-content: stretch;
    flex-wrap: wrap;
    margin-top: 2rem;
}

/* Sidfotens textdel (vänster) */
#footer-left {
    flex-grow: 1;
}

/* Sidfotens kartdel */
#footer-right {
    /* Väx, krymp och håll basstorlek 670px */
    flex: 1 1 670px;
}

/* Skippa understryckningar på länkar i sidfoten */
footer a {
    text-decoration: none;
}


/* ÖVRIGA ELEMENT */
.kortlada {
    display: flex;
    flex-wrap: wrap;  /* Radbryt när utrymmet tar slut */
}

/* Kort som i engelskans "card" */
.kort {
    flex-grow: 1;  /* Varje kort får samma storlek */
    flex-basis: 20rem;  /* Sätter brytpunkt för radbrytning */
}

/* Ser till att det inte radbryts inuti en länk */
.nowrap {
    white-space: nowrap;
}

/* MENY-SIDA */
.meny-tabell {
    width: 100%;
}

/* Högerjustera sista kolumnen i menyn (där priset står) */
.meny-tabell tr td:last-child {
    text-align: right;
}

.meny-tabell td {
    border-bottom: 1px solid #ccc;
}

/* Grid-layout för kontakt- och infosidor */
.inner-container {
    display: grid;
    grid-template-columns: 2fr 1fr; /* Gridet är 2 kolumner brett */
    grid-template-rows: auto auto; /* Gridet är 2 rader högt */
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

/*
   Göm innehåll för alla utom dem som använder skärmläsare.
   Källa: https://webaim.org/techniques/css/invisiblecontent/
*/
.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

/* Används på informations- och kontaktsidorna */
.sidobild {
    grid-area: 1 / 2 / 3 / 3; /* Övre och nedre högra rutorna */
    background-repeat: no-repeat; /* Bakgrundsbilden ska inte repetera (tänk bakgrund i Windows 3.1) */
    background-position: center; /* Bakgrundbildens viktigaste innehåll är mitten, se till att det syns */
    background-size: auto 100%;
}

/* LUNCH-SIDA */
.lunch-kort-container {
    display: flex;
    flex-direction: column;
}

.lunch-kort {
    display: flex;
    flex-direction: row-reverse; /* Elementen lagda i den ordningen att bilden hamnar överst vid liten skärmbredd */
    justify-content: space-between; /* Skjut ena elementet fullt åt vänster och andra fullt åt höger */
    flex-wrap: wrap; /* Radbryt när innehållet blir fullt */
}

.lunch-kort-sidfot { /* En container vars två element skjuts fullt åt vänster och höger */
    display: flex;
    justify-content: space-between;
}

.lunch-text {
    display: flex; /* Elementet är i en flex container men är också en flex container */
    flex: 3; /* Väx upp till tre fjärdedelar av bredden */
    flex-direction: column; /* Innehållet fördelas nedåt (aldrig åt sidan) */
    justify-content: space-between; /* Tryck ut innehållet uppåt och nedåt */
}

.lunch-bild {
    flex: 1; /* Väx upp till en fjärdedel av bredden */
    background-repeat: no-repeat; /* Bakgrundsbilden ska inte repetera (tänk bakgrund i Windows 3.1) */
    background-position: center; /* Bakgrundbildens viktigaste innehåll är mitten, se till att det syns */
    background-size: 120%; /* Bakgrundbilden ska täcka upp 100% av elementets bredd och lite till */
    min-width: 20rem; /* Se till att elementets storlek aldrig blir för liten. (200px vid normal fontstorlek) */
    min-height: 20rem;
}

.lunch-bild-lilla {
    background-image: url("../images/lunch-lilla.jpg");
}

.lunch-bild-stora {
    background-image: url("../images/lunch-stora.jpg");
}

/* KONTAKTSIDAN */
.kontakt-info {
    grid-area: 1 / 1 / 2 / 2; /* Övre vänstra rutan */
    display: flex; /* Innehåller flex-element */
    flex-wrap: wrap;
}

.kontakt-info-info {
    flex: 1;
}

.kontakt-info-karta {
    flex: 2;
    min-width: 200px;
}

.kontakt-info-karta img {
    max-width: 100%;
}

.kontakt-form {
    grid-area: 2 / 1 / 3 / 2; /* Nedre vänstra rutan */
}

.kontakt-bild {
    background-image: url("../images/kontakt-oldphone.jpg");
}

/* INFOSIDOR */
.info-kolumn {
    grid-area: 1 / 1 / 3 / 1; /* Vänstra kolumnen */
}

.om_ravaror-bild {
    background-image: url("../images/om_ravaror-lax.jpg");
}

.om_foretaget-bild {
    background-image: url("../images/om_foretaget-datorsnubbe.jpg");
}

blockquote {
    display: block;
}

.citat-kalla {
    text-align: right;
}
