@charset "UTF-8";

nav ul {
    padding: 0;
}

/* Lägger menyer i onumrerade listor, men de ska visas i rad */
nav li{
    display: inline;
    font-size: 2rem; /* =20px */
    list-style-type: none; /* Ta bort "bullet points" */
    text-transform: uppercase;
    white-space: nowrap; /* Förhindra radbrytning i menyval */
}

nav li ul { /* Undermeny */
    background: rgb(255, 255, 255, 0.5);
    overflow: hidden;  /* Utan att dölja överflödande innehåll försvinner bara ramen */ 
    position: absolute;  /* Utan detta flyttas saker runt i headern */

    /* Dölj meny när den är stängd */
    transition: max-height 0.5s;
    max-height: 0;
}

nav ul li ul li { /* Enskilda val i undermenyn */
    display: block;
    margin-left: 0; 
}

/* När någon "hovrar" över menyn (klickar på mobil) så öppna
   undermenyn */
.dropdown:focus-within ul, .dropdown:hover ul {
    /* Räknar med att höjd på undermeny aldrig är högre än 80 % av viewporten */
    max-height: 80vh;
    transition: max-height 2s;
}

.dropdown:focus-within .nav-down-arrow, .dropdown:hover .nav-down-arrow {
    display: none;
}

/* Uppåtpil i menyn dold från början. Visas när muspekaren hovrar över menyn */
.dropdown:focus-within .nav-up-arrow, .dropdown:hover .nav-up-arrow {
    display: inline;
}

/* Uppåtpil i menyn dold från början. Visas när muspekaren hovrar över menyn */
.nav-up-arrow {
    display: none;
}

#nav-main > ul {
    display: flex;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

#nav-main a {
    color: #000;
    text-decoration: none;
}

#nav-main a:hover, #nav-main a:focus {
    color: #fd3a69;  /* Rosa */
}
