@charset "UTF-8";

/* Källa:
   https://www.w3schools.com/howto/howto_css_image_responsive.asp */
.responsive-img {
  width: 100%;
  height: auto;
}

/* Möjligör att korten på indexsidan radbryts 2 och 2. Se rapport (9.5). */
.erbj-flex-rad {
    display: flex;

    /* Radbryt om inte alla element får plats */
    flex-wrap: wrap;
    
    /* Väx, krymp och håll en basstorlek som gör att fyra kort får plats vid
       fullstorlek på skärm */
    flex: 1 1 470px;
}

/* Bilden på informations- och kontaktsidan behövs inte på mobil */
@media screen and (max-width: 600px) {
    .inner-container {
        grid-template-columns: 1fr !important;  /* tar bort kolumn i gridet */
    }

    .sidobild {
        display: none;
    }

    /* Får menyvalen i huvudmenyn att ligga under varandra vid mindre
       skärmstorlek. */
    #nav-main > ul {
        flex-direction: column;
    }

    /* Lägger innehåll i headern centrerade på sidan */
    #header-main-main {
        justify-content: center;
    }

    nav ul li ul {
    /* De andra menyerna ska flyttas runt vid vertikalt läge */
        position: static;
    }

    /* Förskjut undermenyns innehåll på mobil för att tydliggöra
       vad som hör till undermenyn. */
    nav ul li ul li {
        margin-left: 2rem;
    }

    /* Lägger innehåll i underheadern centrerade på sidan */
    #header-main-sub {
        justify-content: center;
    }
}
