@charset "UTF-8";

html {
    /* Nedanstående gör 1 rem till 10px, detta underlättar matematiken
       betydligt */
    font-size: 62.5%;
}

body {
    /* Sätt "Lato" som huvudsakligt typsnitt */
    font-family: 'Lato', sans-serif;

    /* Standardstorlek för typsnitt motsvarar 16 px */
    font-size: 1.8rem; /* =16px */

    /* Snyggare radavstånd */
    line-height: 1.5;
}

address { /* Kontaktuppgifter ska inte vara snedstälda */
    font-style: normal;
}

textarea { /* Respekterar inte body-typsnittet */
    font-family: 'Lato', sans-serif;
    font-size: 1.8rem; /* =16px */
}

/* Sätt standardtpsnitt för samtliga headers */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500; /* Alla rubriker är mediumtjocka som standard */
}

.meny-obslunch { /* Att inte missa lunchen på meny-sidan */
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 2.0rem;
    text-align: center;
}

h1 {
    text-transform: uppercase; /* Sidtitel med enbart versaler */
    font-size: 3.2rem; /* =32px */
}

/* ERBJUDANDEN PÅ HUVUDSIDAN */
.erbj-namn {
    font-family: 'Lato', sans-serif;
    font-size: 2.0rem; /* =20px */
    font-weight: 700; /* Fettext */
}

.erbj-bitar {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem; /* =16px */
    font-weight: 700; /* Fettext */
    text-transform: uppercase; /* Enbart versaler */
}

.erbj-pris {
    font-weight: 700; /* Fettext */
    text-align: right; /* Pressa ut pris till höger */
}

/* LUNCH-SIDAN */
.lunch-tider {
    font-family: 'Oswald', sans-serif;
    font-size: 2.0rem; /* =20px */
    font-weight: 500; /* Medium */
}

.lunch-titel {
    font-size: 3.2rem; /* =32px */
    font-weight: 500; /* Medium */
}

.lunch-bitar {
    font-size: 2rem; /* =20px */
    font-weight: 700; /* Fettext */
}

.lunch-kort-sidfot { /* En container vars två element skjuts fullt åt vänster och höger */
    font-size: 2.6rem; /* =26px */
}

/* INFOSIDOR */
blockquote {
    font-style: italic;
}

.loptext h2 {  /* Typsnittet Lato som rubriker enligt kravspecifikation */
    font-family: 'Lato', sans-serif;
    font-size: 1.8rem; /* =18px */
    font-weight: 700; /* Fettext */
}

/* KONTAKTSIDA */
.kontakt-info h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
}

input[type=text], input[type=email], textarea {
    font-size: 1.8rem; /* Ökar textstorleken i */
}

button {
    font-size: 1.8rem; /* Ökar textstorleken i */
}

.kontakt-form label {
    font-weight: 700;
}

/* SIDFOT */
footer {
    font-size: 1.6rem; /*=16px*/
}

footer a:hover {
    text-decoration: underline;
}
