<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Sushi Sakana{% if self.title() %} - {% block title %}{% endblock %}{% endif %}</title>
    <link rel="stylesheet" href="css/main.css" />
    <link rel="icon" href="images/favicon.svg" />

    <!-- Font Awesome används för symboler. Exempelvis för social media -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <header>
        <div id="header-main-main" class="p-std">
          <a href="index.html">
            <img src="images/logo.svg" alt="Sushi Sakana" />
          </a>
          <nav id="nav-main">
            <ul>
              <li class="header-item"><a href="index.html">Startsida</a></li>
              <li class="header-item"><a href="lunch.html">Lunch</a></li>
              <li class="header-item"><a href="meny.html">Meny</a></li>
              <!-- Entiteten "&#9660;" är en triangel som pekar nedåt -->
              <li class="header-item dropdown">
                <a href="#">Information
                  <span class="nav-down-arrow">&#9660;</span>
                  <span class="nav-up-arrow">&#9650;</span>
                </a>
                <ul>
                  <li><a href="om_ravaror.html">Om råvarorna</a></li>
                  <li><a href="om_foretaget.html">Om företaget</a></li>
                </ul>
              </li>
              <li class="header-item"><a href="kontakt.html">Kontakt</a></li>
            </ul>
          </nav>
        </div>
        <!-- För skärmläsare visas texten för sociala mediaikonerna, för alla andra enbart ikonerna.
             Se CSS för information om källan. -->
        <div id="header-main-sub" class="p-std">
          <a href="#" onclick="dummySocMediaLink();return false;">
            <i class="fab fa-facebook fa-2x"></i><span class="sr-only">Facebook</span>
          </a>
          <a href="#" onclick="dummySocMediaLink();return false;">
            <i class="fab fa-instagram fa-2x"></i><span class="sr-only">Instagram</span>
          </a>
        </div>
        {% block header_end %}{% endblock %}
      </header>

      <!-- m-sm här + m-sm vid elementen bildar tillsammans m-std samtidigt som de ser till
           att marginalerna mellan korten nedan inte blir för stora. -->
      <main class="m-sm">
        {% block content %}{% endblock %}
      </main>
      <footer id="footer-main" class="p-std">
        <div id="footer-left">
          <address>
            <p>
              <b>Telefonnummer</b><br />
              0123-456 78
            </p>
            <p>
              <b>E-post</b><br />
              <a href="kontakt.html#kontakt-form">info@sushisakana.se</a>
            </p>
            <p>
              <b>Adress</b><br />
              Ågatan 1<br/>
              123 45 Österköping
            </p>
          </address>
          <p>
            <b>Besök oss i sociala medier</b><br />
            <!-- Bör inte radbryta ens utan detta, men "better safe than sorry" -->
            <span class="nowrap">
              <a href="#" onclick="dummySocMediaLink();return false;"><i class="fab fa-facebook fa-1x"></i> Facebook</a>
            </span> |
            <span class="nowrap">
              <a href="#" onclick="dummySocMediaLink();return false;"><i class="fab fa-instagram fa-1x"></i> Instagram</a>
            </span>
          </p>
        </div>
        <div id="footer-right">
          <img class="responsive-img" src="images/map.jpg" alt="Karta som visar till Sushi Sakana" />
        </div>
      </footer>
    </div>
    <script src="js/scripts.js"></script>
  </body>
</html>
