
{% extends "_base.html" %}

{% block header_end %}
<img src="images/sushi-jumbo.jpg" id="header-image" class="responsive-img" alt="" />
{% endblock %}

{% block content %}
<section>
  <h1 class="m-sm">Erbjudanden</h1>
  <div class="kortlada kortlada_4">

    <div class="erbj-flex-rad">
      
      <!-- ERBJUDANDE 1 -->
      <div class="kort m-sm">
        <img src="images/erbj-1.jpg" alt="Första erbjudandet" class="responsive-img" />
        <div class="p-sm">
          <h2 class="erbj-namn m-0">Blandad stor</h2>
          <p class="erbj-bitar m-0">12 bitar</p>
          <p class="erbj-pris">130 kr</p>
        </div>
      </div>

      <!-- ERBJUDANDE 2 -->
      <div class="kort m-sm">
        <img src="images/erbj-2.jpg" alt="Andra erbjudandet" class="responsive-img" />
        <div class="p-sm">
          <h2 class="erbj-namn m-0">Makizushi</h2>
          <p class="erbj-bitar m-0">10 bitar</p>
          <p class="erbj-pris">115 kr</p>
        </div>
      </div>

    </div>
    <div class="erbj-flex-rad">
      
      <!-- ERBJUDANDE 3 -->
      <div class="kort m-sm">
        <img src="images/erbj-3.jpg" alt="Tredje erbjudandet" class="responsive-img" />
        <div class="p-sm">
          <h2 class="erbj-namn m-0">Uramaki</h2>
          <p class="erbj-bitar m-0">3 bitar</p>
          <p class="erbj-pris">50 kr</p>
        </div>
      </div>

      <!-- ERBJUDANDE 4 -->
      <div class="kort m-sm">
        <img src="images/erbj-4.jpg" alt="Fjärde erbjudandet" class="responsive-img" />
        <div class="p-sm">
          <h2 class="erbj-namn m-0">Nigiri</h2>
          <p class="erbj-bitar m-0">3 bitar</p>
          <p class="erbj-pris">50 kr</p>
        </div>
      </div>
    </div>

  </div>
</section>
{% endblock %}
