{% extends "_base.html" %}

{% block title %}Kontakt{% endblock %}

{% block header_end %}
<div class="banner-std banner4"></div>
{% endblock %}

{% block content %}
<h1 class="m-sm">Kontakt</h1>
<div class="inner-container m-sm">
  <section class="kontakt-info kort p-sm">
    <div class="kontakt-info-info">
      <h2>Hitta till oss!</h2>
      <address>
        <p>Ågatan 1<br/>
          123 45 Österköping</p>
      </address>
      <h2>Kontakta oss</h2>
      <address>
        <p>0123-456 78<br/>
        info@sushisakana.se</p>
      </address>
    </div>
    <div class="kontakt-info-karta">
      <img src="images/map.jpg"
           alt="Karta som visar var restaurangen ligger" />
    </div>
  </section>

  <section id="kontakt-form" class="kontakt-form kort p-sm">
    <h2>Kontaktformulär</h2>
    <form>
      <div class="mt-sm">
        <label for="input-namn">Namn:</label><br/>
        <input id="input-namn" type="text" />
      </div>
      <div class="mt-sm">
        <label for="input-epost">E-post:</label><br/>
        <input id="input-epost" type="email" />
      </div>
      <div class="mt-sm">
        <label for="textarea-meddelande">Meddelande</label><br/>
        <textarea id="textarea-meddelande"></textarea>
      </div>
      <div class="mt-sm">
        <button id="kontakt-skicka-knapp"><i class="fas fa-check"></i> Skicka</button>
      </div>
    </form>
  </section>

  <!-- Innehållet i elementet är en bild. Bilden är i css-koden -->
  <div class="sidobild kontakt-bild kort p-sm">
  </div>
</div>

{% endblock %}
