{% extends "_base.html" %}

{% block title %}Lunch{% endblock %}

{% block header_end %}
<div class="banner-std banner2"></div>
{% endblock %}

{% block content %}
<h1 class="m-sm mb-0">Lunch</h1>
<p class="ml-sm mt-0 lunch-tider">Vardagar 12.00-15.00</p>
<div class="lunch-kort-container">

  <!-- Kort 1 -->
  <article class="kort lunch-kort m-sm">
    <div class="lunch-bild lunch-bild-lilla"></div>
    <div class="lunch-text p-sm">
      <div>
        <h2 class="lunch-titel">Lilla luncherbjudandet</h2>
        <p class="lunch-bitar">6 BITAR</p>
      </div>
      <div class="lunch-kort-sidfot">
        <p class="lunch-extra">Dricka och kaffe ingår</p>
        <p class="lunch-pris nowrap">75 kr</p>
      </div>
    </div>
  </article>

  <!-- Kort 2 -->
  <article class="kort lunch-kort m-sm">
    <div class="lunch-bild lunch-bild-stora"></div>
    <div class="lunch-text p-sm">
      <div>
        <h2 class="lunch-titel">Stora luncherbjudandet</h2>
        <p class="lunch-bitar">10 BITAR</p>
      </div>
      <div class="lunch-kort-sidfot">
        <p class="lunch-extra">Dricka och kaffe ingår</p>
        <p class="lunch-pris nowrap">105 kr</p>
      </div>
    </div>
  </article>

</div>
{% endblock %}
