{% extends "_base.html" %}

{% block title %}Meny{% endblock %}

{% block header_end %}
<div class="banner-std banner1"></div>
{% endblock %}

{% block content %}
<section>
  <h1 class="m-sm">Meny</h1>
  <div class="kortlada kortlada_4">
    <!-- MENY KORT 1 -->
    <div class="kort m-sm p-sm">
      <h2 class="meny-rubrik">Hela menyer</h2>
      <table class="meny-tabell">
        <tr>
          <td>Makizushi 8</td>
          <td>95 kr</td>
        </tr>
        <tr>
          <td>Makizushi 10</td>
          <td>110 kr</td>
        </tr>
        <tr>
          <td>Makizushi 12</td>
          <td>130 kr</td>
        </tr>
        <tr>
          <td>Special mix 8</td>
          <td>95 kr</td>
        </tr>
        <tr>
          <td>Special mix 10</td>
          <td>110 kr</td>
        </tr>
        <tr>
          <td>Special mix 12</td>
          <td>130 kr</td>
        </tr>
        <tr>
          <td>Veggo 8</td>
          <td>90 kr</td>
        </tr>
        <tr>
          <td>Veggo 10</td>
          <td>105 kr</td>
        </tr>
        <tr>
          <td>Veggo 12</td>
          <td>125 kr</td>
        </tr>
      </table>
    </div>

    <!-- MENY KORT 2 -->
    <div class="kort m-sm p-sm">
      <h2 class="meny-rubrik">Bitar</h2>
      <table class="meny-tabell">
        <tr>
          <td>Uramaki</td>
          <td>15 kr</td>
        </tr>
        <tr>
          <td>Makizushi</td>
          <td>12 kr</td>
        </tr>
        <tr>
          <td>Nigiri räka</td>
          <td>12 kr</td>
        </tr>
        <tr>
          <td>Nigiri lax</td>
          <td>12 kr</td>
        </tr>
        <tr>
          <td>Nigiri avokado</td>
          <td>10 kr</td>
        </tr>
      </table>
    </div>

    <!-- MENY 3 -->
    <div class="kort m-sm p-sm">
      <h2 class="meny-rubrik">Dricka och övrigt</h2>
      <table class="meny-tabell">
        <tr>
          <td>Coca cola 33cl</td>
          <td>20 kr</td>
        </tr>
        <tr>
          <td>Coca cola 50cl</td>
          <td>25 kr</td>
        </tr>
        <tr>
          <td>Coca cola Light 33cl</td>
          <td>20 kr</td>
        </tr>
        <tr>
          <td>Fanta 33cl</td>
          <td>20 kr</td>
        </tr>
        <tr>
          <td>Fanta Light 33cl</td>
          <td>20 kr</td>
        </tr>
        <tr>
          <td>Mineralvatten 33cl</td>
          <td>20 kr</td>
        </tr>
        <tr>
          <td>Kaffe / te</td>
          <td>20 kr</td>
        </tr>
      </table>
    </div>

  </div>
  <div class="m-sm">
    <p class="meny-obslunch">Du missar väl inte våra <a href="lunch.html">luncherbjudanden</a>?</p>
  </div>
</section>
{% endblock %}
