{% extends "_base.html" %}

{% block title %}Om företaget{% endblock %}

{% block header_end %}
<div class="banner-std banner4"></div>
{% endblock %}

{% block content %}
<article class="loptext"> <!-- Löptext -->
  <h1 class="m-sm">Om företaget</h1>
  <div class="inner-container m-sm">
    <div class="info-kolumn kort p-sm">
      <p>
        Det här företaget finns inte. Låt det sjunka in en stund. Nu
        bryter vi fjärde väggen och berättar att vi endast existerar i
        webbsidemakarens fantasi. Vi är påhittade som ett projekt i en
        kurs på Luleå Tekniska universitet som heter Webbutveckling I.
      </p>
      <p>
        Dessa skriver på sin webbplats:
      </p>
      <blockquote cite="https://www.ltu.se/edu/course/D00/D0015D/D0015D-Webbutveckling-I-Introduktion-1.67710">
        Kursens mål är att ge en god förståelse för vikten av genomtänkt
        design på en webbplats. Att kunna analysera de tänkta
        användarna, men även rent praktiskt realisera denna design i en
        användbar webbplats.
      </blockquote>
      <p class="citat-kalla">
        Källa: <a
                   href="https://www.ltu.se/edu/course/D00/D0015D/D0015D-Webbutveckling-I-Introduktion-1.67710"
                   target="_blank">Luleå tekniska universitet</a>
      </p>
      <p>
        Detta är precis vad webbutvecklaren försökt göra med denna webbplats.
      </p>
      <h2>Sidans kod</h2>
      <p>
        Sidans källkod innan generering av
        <a href="https://github.com/staticjinja/staticjinja">staticninja</a> finns på
        <a href="https://bitbucket.org/thenajnth/4a_projekt_nicniu-0/" target="_blank">Bitbucket</a>.
        Staticjinja används på samma sätt som <code>&lt;?php include 'fil.php';?&gt;</code>
        används i PHP för att slippa klippa och klistra ändringar
        mellan alla sidor. Det dras alltså inga andra fördelar av
        denna som skulle kunna räknas som fusk.

        All kod i övrigt (förutom skelettet med <code>html</code>-element,
        <code>body</code>-element etc) är skriven av mig, jag har
        alltså inte kopierat kod från någon annan.
      </p>
      <h2>Bilder</h2>
      <p>
        Alla bilder på webbplatsen är tagna från
        <a href="https://www.pexels.com/" target="_blank">pexels.com</a>.
        Dessa är fria att använda utan hänvisning (även om de
        fotograferna blir glada över det).
      </p>
      <p>
        Undantaget när det gäller bilder är kartan i sidfoten. Denna
        är en enkel skärmdump från Google maps. Om denna sida inte
        vore i utbildningssyfte så skulle förmodligen en inbäddad
        karta (via <code>&lt;iframe&gt;</code>-elementet) använts
        istället.
      </p>
    </div>

    <div class="sidobild om_foretaget-bild kort p-sm">
    </div>
  </div>
</article>
{% endblock %}
