{% extends "_base.html" %}

{% block title %}Om våra råvaror{% endblock %}

{% block header_end %}
<div class="banner-std banner3"></div>
{% endblock %}

{% block content %}
<article class="loptext"> <!-- Löptext -->
  <h1 class="m-sm">Om råvarorna</h1>
  <div class="inner-container m-sm">
    <div class="info-kolumn kort p-sm">
      <h2>Fisk</h2>
      <p>
        Huvudingrediensen i sushi är förstås fisk. Tyvärr finns det
        föroreningar i våra hav som gör att en del fisk innehåller olika
        hälsofarliga gifter. För att säkerställa att våra kunder ska
        slippa få i sig dessa gifter är all fisk vi använder märkta MSC,
        ASC och KRAV.
      </p>
      <h2>Ris och övriga råvaror</h2>
      <p>
        I övrigt strävar vi efter att våra ingredienser så långt som det
        är möjligt är kravmärkta och att de som odlar får rättvist betalt.
      </p>
      <h2>Kaffe</h2>
      <p>Allt vårt kaffe är fairtrade-märkt.</p>
    </div>

    <div class="sidobild om_ravaror-bild kort p-sm">
    </div>
  </div>
</article>
{% endblock %}
